.template {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: @hover-background-color;
  cursor: pointer;

  &:hover {
    background: @primary-color;
    color: white;
  }
}
