.user {
  display: flex;
  flex-direction: row;
  padding: 0 @padding-md;
}

.avatar {
  background: @primary-color;
}

.item {
  padding: 0 @padding-md / 2;
  cursor: pointer;

  &:hover {
    background: @hover-background-color;
  }
}

.icon {
  font-size: 20px;
}
